div {
  border: dotted 1px;
}

h1,
#pokemonName {
  color: blue;
  text-align: center;
  text-transform: uppercase;
}

/* Estilos del div input */
#inputs {
  /*text-align: end;*/
  display: flex;
  justify-content: space-around;
  margin-right: 8rem;
  margin-left: 8rem;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  background-color: red;
}

#nameInput,
#searchBtn {
  font-size: 1.3rem;
  margin-right: 15px;
  border-radius: 14px;
  text-align: center;
  border: solid 2px wheat;
}

#searchBtn {
  background-color: darkblue;
  color: white;
  padding: 15px;
}

#turnImage {
  width: 55px;
  margin-right: 25px;
}

/*Estilos de la imagen*/
#img {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#pokemonImg {
  width: 250px;
  align-self: center;
  border: solid 15px goldenrod;
  border-radius: 45px;
  background-color: black;
}

#img p {
  align-self: center;
  text-transform: uppercase;
  color: white;
}

/*Estilo generales */
#info {
  display: flex;
  justify-content: space-evenly;
  margin-left: 6rem;
  margin-right: 6rem;
  border-top-left-radius: 75px;
  background-color: red;
}

#abilities,
#types {
  align-self: center;
  text-transform: capitalize;
  text-align: center;
}

#types {
  /*border: solid;*/
}

#pokeBallImg {
  width: 75px;
  padding-top: 15px;
}